build
.clickable
static/elm.js
dist-newstyle
result
static/backend.js
.spago
output
.psc-ide-port
elm.js
output-es
elm-stuff
node_modules/
/tests/test-results/
/tests/playwright-report/
/tests/playwright/.cache/
generated-docs
backend.js.map
.spago2nix
