[Desktop Entry]
Name=App Title
Exec=webapp-container --inspector=9223 --app-id="appname.iko" $@ index.html
Icon=logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
