[Desktop Entry]
Name=App Title
Exec=webapp-container --local-content-can-access-remote-urls --app-id="appname.iko" $@ index.html
Icon=logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
