:root {
  --color-light: #f7f7f7;
}

main {
  margin: 1rem;
}

nav.p-tabs__list {
  top: 0;
  position: sticky;
  background-color: white;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-bottom: 0;
  z-index: 10;
}

nav h3 {
  width: 100%;
}

.ninety-counter {
  transform: rotate(90deg);
}

@keyframes floating-notification-animation {
  from {
    transform: translateY(-60px);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

.floating-notifications {
  position: fixed;
  top: 1rem;
  right: 1rem;
  left: 1rem;
  z-index: 9999;
  animation-duration: 0.5s;
  animation-name: floating-notification-animation;
}

.simple-flex-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.spinner {
  padding: 1rem;
}

.cipher-row-container {
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.cipher-row p {
  margin-bottom: 0.5rem;
}

.cipher-row .p-text--small {
  margin-bottom: 0.5rem;
}

.ciphers-list {
  height: calc(100vh - 9.5rem);
  overflow: auto;
  margin: 0;
}

p {
  word-break: break-word;
}

.no-scroll-bar::-webkit-scrollbar {
  display: none;
}

textarea {
  resize: none;
}

.password-generator-group {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.password-generator-group > input[type="number"] {
  width: 5%;
  margin-bottom: 0px;
  min-width: 5rem;
  text-align: center;
}
