[Desktop Entry]
Name=Warden
Exec=webapp-container --local-content-can-access-remote-urls --app-id="soy.iko.warden" $@ index.html
Icon=logo.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
