[Desktop Entry]
Name=App Title
Exec=webapp-container --app-id="appname.yourname" $@ index.html
Icon=assets/logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
